/**********************************************************************/
/*             SYSTEM CONFIG FILE                                     */
/**********************************************************************/
/*                                                                    */
/*  Refer to CP Planning and Administration for SYSTEM CONFIG rules   */
/*                                                                    */
/*  Warning - Always run CPSYNTAX after updating the SYSTEM CONFIG    */
/*                                                                    */
/**********************************************************************/

/**********************************************************************/
/*                   System_Identifier Information                    */
/**********************************************************************/

System_Identifier * * SEVMM1


/**********************************************************************/
/*                Checkpoint and Warmstart Information                */
/**********************************************************************/

  System_Residence,
    Checkpoint  Volid M01RES    From PAGE 3150 For 2000,
    Warmstart   Volid M01RES    From PAGE 5150 For 2000

/**********************************************************************/
/*                     CP_Owned Volume Statements                     */
/**********************************************************************/
/*                                                SYSRES  VOLUME      */
/* The system residence volume is defined by IBM to be in slot 1      */
/* and to contain:                                                    */
/* o The stand-alone program loader (SAPL) so that the volume can     */
/*   be IPLed;                                                        */
/* o A PARM disk (CF1) to hold the CP nucleus, pointed to by          */
/*   parameters specified on the SAPL panel or SALIPL command.        */
/*   By default it is the first PARM disk on the volume               */
/* o A PARM disk (CF0) to hold the SYSTEM CONFIG (this file),         */
/*   pointed to by the PDVOL and PDNUM IPL parameters specified on    */
/*   SAPL panel or the SALIPL command. By default it is the fourth    */
/*   PARM disk on the volume.                                         */
/* o The object directory.  Having the sysres as slot 1 ensures that  */
/*   there is no confusion as to which object directory will be used: */
/*   the one and only directory allocation on the IPL volume;         */
/* o The warm start and checkpoint areas;                             */
/**********************************************************************/

    CP_Owned   Slot   1  M01RES

/**********************************************************************/
/*                                                 COMMON VOLUME      */
/* The common volume is defined by IBM to be in slot 5                */
/* and to contain the source directory (USER DIRECT), service         */
/* inventory files, and the VMPSFS filepool.                          */
/**********************************************************************/

    CP_Owned   Slot   5  VMCOM1

/**********************************************************************/
/*                                           DUMP & SPOOL VOLUMES     */
/* Dump and spool volumes begin with slot 10 and are assigned in      */
/* ascending order.                                                   */
/**********************************************************************/

    CP_Owned   Slot  10  M01S01

/**********************************************************************/
/*                                           PAGE & TDISK VOLUMES     */
/* To avoid interference with spool volumes and to automatically      */
/* have all unused slots defined as "Reserved", begin with slot 255   */
/* and assign them in descending order.                               */
/**********************************************************************/

    CP_Owned   Slot 255  M01P01

/**********************************************************************/
/*                          User_Volume_List                          */
/**********************************************************************/
/* These volumes contain the minidisks for your guests, as well as    */
/* the product disks for z/VM.                                        */
/**********************************************************************/

/**********************************************************************/
/* Shared User Volumes                                                */
/**********************************************************************/
               User_Volume_List  640RL1

/**********************************************************************/
/* User volumes for local minidisks                                   */
/**********************************************************************/

               User_Volume_List  M01W01
               User_Volume_List  USER00
/**********************************************************************/
/*   SCSI Definition Statements                                       */
/**********************************************************************/
/*
  edevice FF05 type fba attr SCSI fcp_dev 1000,
          wwpn 500507680B218CF8 lun 0005000000000000
  edevice FF00 type fba attr SCSI fcp_dev 1000,
          wwpn 500507680B218CF8 lun 0000000000000000
  edevice FF02 type fba attr SCSI fcp_dev 1000,
          wwpn 500507680B218CF8 lun 0002000000000000
  edevice FF03 type fba attr SCSI fcp_dev 1000,
          wwpn 500507680B218CF8 lun 0003000000000000
  edevice FF01 type fba attr SCSI fcp_dev 1000,
          wwpn 500507680B218CF8 lun 0001000000000000
  edevice FF04 type fba attr SCSI fcp_dev 1000,
          wwpn 500507680B218CF8 lun 0004000000000000

  edevice FF06 type fba attr SCSI fcp_dev 1000,
          wwpn 500507680B218CF8 lun 0006000000000000

  edevice FF07 type fba attr SCSI fcp_dev 1000,
          wwpn 500507680B218CF8 lun 0007000000000000

  edevice FF08 type fba attr SCSI fcp_dev 1000,
          wwpn 500507680B218CF8 lun 0008000000000000

  edevice FF09 type fba attr SCSI fcp_dev 1000,
          wwpn 500507680B218CF8 lun 0009000000000000

  edevice FF0a type fba attr SCSI fcp_dev 1000,
          wwpn 500507680B218CF8 lun 000a000000000000

  edevice FF0b type fba attr SCSI fcp_dev 1000,
          wwpn 500507680B218CF8 lun 000b000000000000

  edevice FF0c type fba attr SCSI fcp_dev 1000,
          wwpn 500507680B218CF8 lun 000c000000000000

  edevice FF0d type fba attr SCSI fcp_dev 1000,
          wwpn 500507680B218CF8 lun 000d000000000000

  edevice FF0E type fba attr SCSI fcp_dev 1000,
          wwpn 500507680B218CF8 lun 000e000000000000             */

 /* 640RL1 */
   edevice ff00 type fba attr scsi,
           fcp_dev 1000 wwpn 500507680b218cf8 lun 0000000000000000,
           fcp_dev 1000 wwpn 500507680b218cf9 lun 0000000000000000,
           fcp_dev 1200 wwpn 500507680b218cf9 lun 0000000000000000,
           fcp_dev 1200 wwpn 500507680b228cf8 lun 0000000000000000,
           fcp_dev 1300 wwpn 500507680b228cf8 lun 0000000000000000,
           fcp_dev 1300 wwpn 500507680b228cf9 lun 0000000000000000
/* M01P01 */
  edevice ff01 type fba attr scsi,
          fcp_dev 1000 wwpn 500507680b218cf8 lun 0001000000000000,
          fcp_dev 1000 wwpn 500507680b218cf9 lun 0001000000000000,
          fcp_dev 1200 wwpn 500507680b218cf9 lun 0001000000000000,
          fcp_dev 1200 wwpn 500507680b228cf8 lun 0001000000000000,
          fcp_dev 1300 wwpn 500507680b228cf8 lun 0001000000000000,
          fcp_dev 1300 wwpn 500507680b228cf9 lun 0001000000000000
  /* M01RES */
  edevice ff02 type fba attr scsi,
          fcp_dev 1000 wwpn 500507680b218cf8 lun 0002000000000000,
          fcp_dev 1000 wwpn 500507680b218cf9 lun 0002000000000000,
          fcp_dev 1200 wwpn 500507680b218cf9 lun 0002000000000000,
          fcp_dev 1200 wwpn 500507680b228cf8 lun 0002000000000000,
          fcp_dev 1300 wwpn 500507680b228cf8 lun 0002000000000000,
          fcp_dev 1300 wwpn 500507680b228cf9 lun 0002000000000000
/* M01S01 */
  edevice ff03 type fba attr scsi,
          fcp_dev 1000 wwpn 500507680b218cf8 lun 0003000000000000,
          fcp_dev 1000 wwpn 500507680b218cf9 lun 0003000000000000,
          fcp_dev 1200 wwpn 500507680b218cf9 lun 0003000000000000,
          fcp_dev 1200 wwpn 500507680b228cf8 lun 0003000000000000,
          fcp_dev 1300 wwpn 500507680b228cf8 lun 0003000000000000,
          fcp_dev 1300 wwpn 500507680b228cf9 lun 0003000000000000
  /* M01W01 */
  edevice ff04 type fba attr scsi,
          fcp_dev 1000 wwpn 500507680b218cf8 lun 0004000000000000,
          fcp_dev 1000 wwpn 500507680b218cf9 lun 0004000000000000,
          fcp_dev 1200 wwpn 500507680b218cf9 lun 0004000000000000,
          fcp_dev 1200 wwpn 500507680b228cf8 lun 0004000000000000,
          fcp_dev 1300 wwpn 500507680b228cf8 lun 0004000000000000,
          fcp_dev 1300 wwpn 500507680b228cf9 lun 0004000000000000
/* VMCOM1 */
  edevice ff05 type fba attr scsi,
          fcp_dev 1000 wwpn 500507680b218cf8 lun 0005000000000000,
          fcp_dev 1000 wwpn 500507680b218cf9 lun 0005000000000000,
          fcp_dev 1200 wwpn 500507680b218cf9 lun 0005000000000000,
          fcp_dev 1200 wwpn 500507680b228cf8 lun 0005000000000000,
          fcp_dev 1300 wwpn 500507680b228cf8 lun 0005000000000000,
          fcp_dev 1300 wwpn 500507680b228cf9 lun 0005000000000000
  /* USER00 */
  edevice ff06 type fba attr scsi,
          fcp_dev 1000 wwpn 500507680b218cf8 lun 0006000000000000,
          fcp_dev 1000 wwpn 500507680b218cf9 lun 0006000000000000,
          fcp_dev 1200 wwpn 500507680b218cf9 lun 0006000000000000,
          fcp_dev 1200 wwpn 500507680b228cf8 lun 0006000000000000,
          fcp_dev 1300 wwpn 500507680b228cf8 lun 0006000000000000,
          fcp_dev 1300 wwpn 500507680b228cf9 lun 0006000000000000


/* 640RL1 2ND LEVEL */
edevice ff07 type fba attr scsi,
        fcp_dev 1000 wwpn 500507680b218cf8 lun 0006000000000000,
        fcp_dev 1000 wwpn 500507680b218cf9 lun 0006000000000000,
        fcp_dev 1200 wwpn 500507680b218cf9 lun 0006000000000000,
        fcp_dev 1200 wwpn 500507680b228cf8 lun 0006000000000000,
        fcp_dev 1300 wwpn 500507680b228cf8 lun 0006000000000000,
        fcp_dev 1300 wwpn 500507680b228cf9 lun 0006000000000000
/* M01P01 2ND LEVEL */
edevice ff08 type fba attr scsi,
        fcp_dev 1000 wwpn 500507680b218cf8 lun 0006000000000000,
        fcp_dev 1000 wwpn 500507680b218cf9 lun 0006000000000000,
        fcp_dev 1200 wwpn 500507680b218cf9 lun 0006000000000000,
        fcp_dev 1200 wwpn 500507680b228cf8 lun 0006000000000000,
        fcp_dev 1300 wwpn 500507680b228cf8 lun 0006000000000000,
        fcp_dev 1300 wwpn 500507680b228cf9 lun 0006000000000000

/* M01RES 2ND LEVEL */
edevice ff09 type fba attr scsi,
        fcp_dev 1000 wwpn 500507680b218cf8 lun 0006000000000000,
        fcp_dev 1000 wwpn 500507680b218cf9 lun 0006000000000000,
        fcp_dev 1200 wwpn 500507680b218cf9 lun 0006000000000000,
        fcp_dev 1200 wwpn 500507680b228cf8 lun 0006000000000000,
        fcp_dev 1300 wwpn 500507680b228cf8 lun 0006000000000000,
        fcp_dev 1300 wwpn 500507680b228cf9 lun 0006000000000000

/* M01S01 2ND LEVEL */
edevice ff0A type fba attr scsi,
        fcp_dev 1000 wwpn 500507680b218cf8 lun 0006000000000000,
        fcp_dev 1000 wwpn 500507680b218cf9 lun 0006000000000000,
        fcp_dev 1200 wwpn 500507680b218cf9 lun 0006000000000000,
        fcp_dev 1200 wwpn 500507680b228cf8 lun 0006000000000000,
        fcp_dev 1300 wwpn 500507680b228cf8 lun 0006000000000000,
        fcp_dev 1300 wwpn 500507680b228cf9 lun 0006000000000000

/* M01W01 2ND LEVEL */
edevice ff0B type fba attr scsi,
        fcp_dev 1000 wwpn 500507680b218cf8 lun 0006000000000000,
        fcp_dev 1000 wwpn 500507680b218cf9 lun 0006000000000000,
        fcp_dev 1200 wwpn 500507680b218cf9 lun 0006000000000000,
        fcp_dev 1200 wwpn 500507680b228cf8 lun 0006000000000000,
        fcp_dev 1300 wwpn 500507680b228cf8 lun 0006000000000000,
        fcp_dev 1300 wwpn 500507680b228cf9 lun 0006000000000000

/* VMCOM1 2ND LEVEL */
edevice ff0C type fba attr scsi,
        fcp_dev 1000 wwpn 500507680b218cf8 lun 0006000000000000,
        fcp_dev 1000 wwpn 500507680b218cf9 lun 0006000000000000,
        fcp_dev 1200 wwpn 500507680b218cf9 lun 0006000000000000,
        fcp_dev 1200 wwpn 500507680b228cf8 lun 0006000000000000,
        fcp_dev 1300 wwpn 500507680b228cf8 lun 0006000000000000,
        fcp_dev 1300 wwpn 500507680b228cf9 lun 0006000000000000

/* USER00 2ND LEVEL */
edevice ff0D type fba attr scsi,
        fcp_dev 1000 wwpn 500507680b218cf8 lun 0006000000000000,
        fcp_dev 1000 wwpn 500507680b218cf9 lun 0006000000000000,
        fcp_dev 1200 wwpn 500507680b218cf9 lun 0006000000000000,
        fcp_dev 1200 wwpn 500507680b228cf8 lun 0006000000000000,
        fcp_dev 1300 wwpn 500507680b228cf8 lun 0006000000000000,
        fcp_dev 1300 wwpn 500507680b228cf9 lun 0006000000000000

/* SELXM1 LINUX GUEST */
edevice ff0E type fba attr scsi,
        fcp_dev 1000 wwpn 500507680b218cf8 lun 0006000000000000,
        fcp_dev 1000 wwpn 500507680b218cf9 lun 0006000000000000,
        fcp_dev 1200 wwpn 500507680b218cf9 lun 0006000000000000,
        fcp_dev 1200 wwpn 500507680b228cf8 lun 0006000000000000,
        fcp_dev 1300 wwpn 500507680b228cf8 lun 0006000000000000,
        fcp_dev 1300 wwpn 500507680b228cf9 lun 0006000000000000



/**********************************************************************/
/*                       Set Privilege Classes                        */
/**********************************************************************/

  Priv_Classes  ,
    Operator     A ,
    IOCP_Read    CE ,
    IOCP_Write   C ,
    HW_Service   F ,
    User_Default G


/**********************************************************************/
/*                           System Userids                           */
/**********************************************************************/

  System_Userids   ,
    Operator  OPERATOR  ,
    Account   DISKACNT  ,
    Dump      OPERATNS  ,
    Erep      EREP


/*********************************************************************/
/*                          User Defaults                            */
/*********************************************************************/

  User_Defaults    ,
     CPLANG AMENG


/**********************************************************************/
/*                         Features Statement                         */
/**********************************************************************/

 Features ,
   Retrieve ,                      /* Retrieve options               */
     Default  20 ,                 /* Default.... default is 20      */
     Maximum  255 ,                /* Maximum.... default is 255     */
   MaxUsers noLimit ,              /* No limit on number of users    */
   Vdisk Userlim 144000 blocks,    /* Maximum vdisk allowed per user */
   Disconnect_Timeout 15,          /* Can be OFF, default is 15 min  */

   Enable ,                        /* Enable the following features  */
     New_Devices_Initialized_When_Added,  /* Make new devices online */

   Disable ,                       /* Disable the following features */
     Set_Privclass ,               /* Disallow SET PRIVCLASS command */
     Auto_Warm_IPL ,               /* Prompt at IPL always           */
     Clear_TDisk   ,               /* Don't clear TDisks at IPL time */
     Validate_Shutdown ,           /* Don't require system name      */
     STP_Timezone                  /* STP feature is not used        */


/**********************************************************************/
/*                     Set Shutdown time periods                      */
/**********************************************************************/

 Set Shutdowntime 30 ,             /* Reserve 30 seconds for CP      */
     Signal Shutdowntime 0         /* Default guest time is 0 seconds*/


/**********************************************************************/
/*    The following RDEV statements are examples.  They are NOT       */
/*    currently active.  They have been commented out.                */
/**********************************************************************/

/*  Rdevice  0012        Type  Reader,                */
/*                             Class 6                */
/*  Rdevice  0013        Type  Punch,                 */
/*                             Classes 6 ,            */
/*                             Form PUNCH             */
/*  Rdevice  0040-004F   Type  Bsc_Adapter            */
/*  Rdevice  0050-005F   Type  Bsc_Adapter            */
/*  Rdevice  0AF0        Type  Impact_Printer         */
/*  Rdevice  0AF3        Type  Impact_Printer,        */
/*                             Classes ACT            */
/*  Rdevice  1910        Type  3800,                  */
/*                             Model 3                */


/**********************************************************************/
/*                        Status of Devices                           */
/**********************************************************************/

 Devices ,
   Online_at_IPL   0000-FFFF,
   Sensed          0000-FFFF


/**********************************************************************/
/*    The following System_Alias statement is an example.             */
/*    Remove the comment delimiters to make the statment active.      */
/**********************************************************************/

/*  System_Alias   0000-FFFF   */


/**********************************************************************/
/*                     Console Definitions                            */
/**********************************************************************/

 Operator_Consoles     0020 0021 0022 0023 0E20 03E0 0E21 1020 ,
                       System_3270 System_Console
 Emergency_Message_Consoles   0020 0021 0022 0023 0E20 03E0 0E21 1020 ,
                              System_Console


/**********************************************************************/
/*               Special characters for system set here               */
/**********************************************************************/

 Character_Defaults ,
   Char_Delete  OFF   ,       /* System default was @   */
   Escape       '"'   ,       /* System default ... "   */
   Line_Delete  OFF   ,       /* Default was cent sign  */
   Line_End     '#'   ,       /* System default ... #   */
   Tab          OFF           /* System default was ]   */


/**********************************************************************/
/*                        System Forms                                */
/**********************************************************************/

 Form_Default ,
   Console  STANDARD,       /* Find out if these are the defaults */
   Printer  STANDARD,
   Punch    STANDARD,
   Reader   STANDARD


/**********************************************************************/
/*               Parmdisk Access                                      */
/**********************************************************************/

 CP_Access  MAINT    CF1  A
 CP_Access  MAINT    CF3  C


/**********************************************************************/
/*                        Logo_Config                                 */
/**********************************************************************/

 Logo_Config   LOGO    CONFIG


/*********************************************************************/
/*     VSWITCH DEFINITION                                            */
/*********************************************************************/
/* DEFINE VSWITCH VSW1 UPLINK RDEV 2000 ETHERNET  */
DEFINE VSWITCH VSW1 VLAN AWARE UPLINK RDEV 2000 IP NONROUTER

MODIFY VSWITCH VSW1 GRANT TCPIP VLAN 2021
MODIFY VSWITCH VSW1 GRANT ZOS23EMA
MODIFY VSWITCH VSW1 GRANT ZOS23MSH
MODIFY VSWITCH VSW1 GRANT ZUBUNTU
MODIFY VSWITCH VSW1 GRANT ZOS13
MODIFY VSWITCH VSW1 GRANT OS390
MODIFY VSWITCH VSW1 GRANT ZUBUNTU2
MODIFY VSWITCH VSW1 GRANT zlinux1
MODIFY VSWITCH VSW1 GRANT zlinux2
MODIFY VSWITCH VSW1 GRANT zlinux3
MODIFY VSWITCH VSW1 GRANT zlinux4
MODIFY VSWITCH VSW1 GRANT SEVMLE1  /* for Lee's 2nd level VM */


/**********************************************************************/
/*                        Timezone Definitions                        */
/**********************************************************************/

    Timezone_Definition EDT West 04.00.00
    Timezone_Definition EST West 05.00.00
    Timezone_Definition CDT West 05.00.00
    Timezone_Definition CST West 06.00.00
    Timezone_Definition MDT West 06.00.00
    Timezone_Definition MST West 07.00.00
    Timezone_Definition PDT West 07.00.00
    Timezone_Definition PST West 08.00.00

    Timezone_boundary on 2014-03-09 at 02:00:00 to EDT
    Timezone_boundary on 2014-11-02 at 02:00:00 to EST

    Timezone_boundary on 2015-03-08 at 02:00:00 to EDT
    Timezone_boundary on 2015-11-01 at 02:00:00 to EST

    Timezone_boundary on 2016-03-13 at 02:00:00 to EDT
    Timezone_boundary on 2016-11-06 at 02:00:00 to EST

    Timezone_boundary on 2017-03-12 at 02:00:00 to EDT
    Timezone_boundary on 2017-11-05 at 02:00:00 to EST

    Timezone_boundary on 2018-03-11 at 02:00:00 to EDT
    Timezone_boundary on 2018-11-04 at 02:00:00 to EST

    Timezone_boundary on 2019-03-10 at 02:00:00 to EDT
    Timezone_boundary on 2019-11-03 at 02:00:00 to EST

    Timezone_boundary on 2020-03-08 at 02:00:00 to EDT
    Timezone_boundary on 2020-11-01 at 02:00:00 to EST

    Timezone_boundary on 2021-03-14 at 02:00:00 to CDT
    Timezone_boundary on 2021-11-07 at 02:00:00 to CST

    Timezone_boundary on 2022-03-13 at 02:00:00 to CDT
    Timezone_boundary on 2022-11-06 at 02:00:00 to CST

    Timezone_boundary on 2023-03-12 at 02:00:00 to CDT
    Timezone_boundary on 2023-11-05 at 02:00:00 to CST

    Timezone_boundary on 2024-03-10 at 02:00:00 to CDT
    Timezone_boundary on 2024-11-03 at 02:00:00 to CST

/**********************************************************************/
/*                PRODUCT ENABLE/DISABLE INFORMATION                  */
/**********************************************************************/
/* Ensure that you have the appropriate licenses before you enable    */
/*                   any optional features.                           */
/**********************************************************************/

PRODUCT PRODID 6VMRSC40 STATE DISABLED DESCRIPTION '00/00/00.00:00:00.$BASEDDR R
SCS Networking'

PRODUCT PRODID 6VMDIR40 STATE DISABLED DESCRIPTION '00/00/00.00:00:00.$BASEDDR D
IRECTORY MAINTENANCE FACILITY (DirMaint)'

PRODUCT PRODID 6VMRAC40 STATE DISABLED DESCRIPTION '00/00/00.00:00:00.$BASEDDR R
ACF Security Server'

PRODUCT PRODID 6VMPTK40 STATE DISABLED DESCRIPTION '00/00/00.00:00:00.$BASEDDR P
ERFORMANCE TOOLKIT FOR VM'


PRODUCT PRODID 6VMPTK40 STATE ENABLED DESCRIPTION '08/06/20.12:49:28.MAINT640 PE
RFKIT SFS Install and Service'
PRODUCT PRODID 6VMRSC40 STATE ENABLED DESCRIPTION '08/06/20.15:22:32.MAINT640 In
stall/Service RSCS FL640 using SFS'
PRODUCT PRODID 6VMRSC40 STATE ENABLED DESCRIPTION '08/06/20.16:17:10.MAINT    In
stall/Service RSCS FL640 using SFS'
PRODUCT PRODID 6VMRSC40 STATE ENABLED DESCRIPTION '08/06/20.18:21:16.MAINT640 In
stall/Service RSCS FL640 using SFS'

